<a asp-action="AllCustomers" asp-controller="Customer" class="btn btn-primary">
    View All Customers
</a>

<a asp-action="AddCustomer" asp-controller="Customer" class="btn btn-primary">
    Add a Customer
</a>